.CustomCarousel {
  float: left;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: auto;
  background-color: black;
}
.CustomCarousel .CustomCarousel-inner {
  float: left;
  overflow: hidden;
  background-color: black;
  padding-bottom: 5px;
  display: none;
}
.CustomCarousel-header {
  color: blanchedalmond;
  margin: 0;
  padding-bottom: 2px;
  padding-left: 5px;
  background-color: black;
}
.CustomCarousel .CustomCarousel-inner .item {
  float: left;
}

.CustomCarousel .CustomCarousel-inner .Poster {
  max-width: 100%;
  max-height: 320px;
}
.CustomCarousel .btn-prev,
.CustomCarousel .btn-next {
  background-color: rgba(0, 0, 0, 0);
  outline-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Arial , Gadget, sans-serif";
  position: absolute;
  height: 100%;
  width: 50px;
  font-weight: bold;
  font-size: 35px;
  border: none;
}
.CustomCarousel .btn-prev:hover,
.CustomCarousel .btn-next:hover {
  font-size: 60px;
}
.CustomCarousel .btn-prev {
  left: 0;
}
.CustomCarousel .btn-next {
  right: 0;
}

.CustomCarousel .btn-prev.over,
.CustomCarousel .btn-next.over {
  pointer-events: none;
  visibility: hidden;
}
